.idea
go_build_github_com_nicolasdilley_gomela
.DS_Store
gomela
Gomela
pan*
*.trail
result
results
result*/*
result*/*/*
result/*
result/*/*
result/*/*/*
source/*
source/*/*
source/*/*/*
projects
projects/*
